aside, footer, header, nav, section {
display : block;
margin : 1px;
padding : 15px;
border : black dashed 2px;
color : white;
}
body {
margin : 2px;
padding : 15px;
font-family : Arial;
font-size : 13px;
}
.wrapper {
margin : auto;
max-width : 1700px;
}
.header {
background : grey;
}
.nav {
background : maroon;
/* Flex coding */
-webkit-flex: 2; flex: 2;
}
@media screen and (min-width:640px) {
.flex-container {
display : flex;
}
}
.main {
/* flex and ordering coding */
-webkit-flex: 4; flex: 4;
order: 1;
background : blue;
}
.sidebar {
/* flex and ordering coding */
-webkit-flex: 4; flex: 4;
order: 2;
background : green;
border : black dashed 2px;
}
.footer, .sidebar {
border : black dashed 2px;
}
.footer {
background : orange;
}
